.itch-game-area iframe {
    background-image: rgba(240, 240, 240, 0.75);
    margin-top: 10px;
}

.itch-game-area h1 {
    color:black;
    font-weight: bold;
}

.itch-game-area {
    background-color: rgba(240, 240, 240, 0.75);
}

.itch-sidebar {
    background-color: rgba(240, 240, 240, 0.75);
}

.itch-sidebar img {
    width: 15rem;
    padding: 10px;
    border-radius: 4px;
}