.itch-game-area iframe {
    background-image: rgba(99, 178, 73, 0.75);
    height: 167px;
    margin-top: 10px;
}

.itch-game-area h1 {
    color:black;
    font-weight: bold;
}

.itch-game-area {
    background-color: rgba(99, 178, 73, 0.75);
}

.itch-sidebar {
    background-color: rgba(99, 178, 73, 0.75);
}

.itch-button {
    background: #4af64a;
    color: rgb(0, 0, 0);
}

.itch-button:hover {
    background: #299629;
}