header {
    border-bottom: 2px solid #af0b0b;
}

.nav-links a:hover {
    color: #af0b0b;
}

main {
    background-color: #303030;
}

footer {
    margin-top: 0;
}

.itch-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/TTT/TTT-BG.jpg);
    background-color: #303030;
    background-size: cover;         
    background-repeat: no-repeat;
    background-position: center center;
}

.itch-game-area iframe {
    background-image: rgba(99, 178, 73, 0.75);
    height: 167px;
    margin-top: 10px;
}

.itch-game-area h1 {
    color:black;
    font-weight: bold;
}

.itch-game-area {
    background-color: rgba(216, 50, 50, 0.75);
}

.itch-sidebar {
    background-color: rgba(244, 230, 71, 0.75);
}

.itch-button {
    background: #e64747;
    color: rgb(0, 0, 0);
}

.itch-button:hover {
    background: #b12b2b;
}