header {
    border-bottom: 2px solid #04AA6D;
}

.nav-links a:hover {
    color: #04AA6D;
}

main {
    background-color: white;
}

footer {
    margin-top: 0;
}

.itch-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/ET/ET-BG.jpg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.itch-game-area {
    background-color: rgba(255, 255, 255, 0.75);
}

.itch-sidebar {
    background-color: rgba(255, 255, 255, 0.75);
}

.itch-button, .itch-button-mobile-friendly {
    background: #00C87F;
    color: rgb(0, 0, 0);
}

.itch-button:hover {
    background: #04AA6D;
}

.itch-game-area iframe {
    height: 167px;
}