<IfModule mod_mime.c>
  AddEncoding gzip .gz
  AddType application/javascript .js
  AddType application/wasm .wasm
  AddType application/octet-stream .data
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.gz$">
    Header set Content-Encoding gzip
  </FilesMatch>

  <FilesMatch "\.js\.gz$">
    Header set Content-Type application/javascript
  </FilesMatch>
  <FilesMatch "\.wasm\.gz$">
    Header set Content-Type application/wasm
  </FilesMatch>
  <FilesMatch "\.data\.gz$">
    Header set Content-Type application/octet-stream
  </FilesMatch>
</IfModule>